{% extends 'base.html' %}

{% block title %}
Chat VAO
{% endblock %}

{% block body %}

  <!-- Контейнер для вертикальных блоков -->

    <div class="row min-vh-100" style="background-color: #2B1150;">
    <!-- Первый блок (небольшой) -->
        <div class="col-1 p-3" style="background-color: #2B1150;">
    
            
        </div>
    
    <!-- Второй блок (побольше) -->
        <div class="col-2 p-3" style="background-color: #8673AB;">
            <p class="fs-5">Это чат вао, ему можно задать вопросы по темам связанными с программированием</p>
        </div>

    <!-- Третий блок (самый большой) -->
        <div class="col-8 p-3" style="background-color: #9F9F9F;" >
            <h5>чат</h5>
    
        </div>
    </div>
{% endblock %}